body{
    margin: 0px;
    padding: 0px;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.description,
.photo {
    /*CENTER THE TEXT AND PHOTO*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*ADD PADDING*/

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.description,
.photo {
    background-color: rgb(161, 0, 0);
    height: 75vh;
    width: 50vw;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}